<br/>
<div class="secondary-navigation"><a href="lj/index.html">LJ project</a><a href="cal10k_mac/index.html">CAL10k&UnderBar;mac</a>
  <div class="clearer"><span></span></div>
</div>
<div class="container">
  <div class="content"><a href="../lj/index.html">Livejournal project</a><br/><a href="../cal10k_mac/index.html">CAL10k&UnderBar;mac</a></div>
  <div class="footer">
    <div class="left">&copy; 2011<a href="index.html">MAC Lab</a></div>
    <div class="right"><a href="http://templates.arcsin.se/">Website template</a>by<a href="http://arcsin.se/">Arcsin</a></div>
    <div class="clearer">&NonBreakingSpace;</div>
  </div>
</div>