<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="description"/>
    <meta name="keywords" content="keywords"/>
    <meta name="author" content="author"/>
    <link rel="stylesheet" type="text/css" href="default_mo.css" media="screen"/>
    <title>Music and Audio Computing Lab - Database</title>
  </head>
  <div class="header">
    <h1><font color="brown">Music and Audio Computing Lab </font></h1>
  </div>
  <body>
    <div class="navigation"><a href="index.html">Home</a><a href="People.html">People</a><a href="Research.html">Research</a><a href="Publication.html">Publication</a><a href="Database.html">Database</a>
      <div class="clearer"><span></span></div>
    </div><br/>
    <div class="secondary-navigation"><a href="lj/index.html">LJ project</a><a href="cal10k_mac/index.html">CAL10k&UnderBar;mac</a>
      <div class="clearer"><span></span></div>
    </div>
    <div class="container">
      <div class="content"><a href="../lj/index.html">Livejournal project</a><br/><a href="../cal10k_mac/index.html">CAL10k&UnderBar;mac</a></div>
      <div class="footer">
        <div class="left">&copy; 2011<a href="index.html">MAC Lab</a></div>
        <div class="right"><a href="http://templates.arcsin.se/">Website template</a>by<a href="http://arcsin.se/">Arcsin</a></div>
        <div class="clearer">&NonBreakingSpace;</div>
      </div>
    </div>
  </body>
</html>