.container
  br
  div.well
    ul.list-inline
      li
        a.btn.btn-success(href='lj/index.html') LJ project
      li
        a.btn.btn-success(href='cal10k_mac/index.html') CAL10k&UnderBar;mac
      li
        a.btn.btn-success(href='../lj/index.html') Livejournal project
      li
        a.btn.btn-success(href='../cal10k_mac/index.html') CAL10k&UnderBar;mac
