
<div class="container">
  <div class="content">
    <h1>Laboratory Director</h1>
    <div class="macUnit">
      <table>
        <td><img src="images/yang2.jpg" height="180" width="130"/></td>
        <td valign="top">
          <h3>&#26954;&#22869;&#36562; Yang&comma; Yi-Hsuan</h3>
          <li>Phone&colon; 2787-2388</li>
          <li>Email&colon; yang&lsqb;at&rsqb;citi&period;sinica&period;edu&period;tw&Tab;</li>
          <li>Interested Research&colon; Multimedia information retrieval&comma;Music information retrieval&comma;Machine learning&comma;Affective computing&period;</li>
          <li><a href="http://mac.citi.sinica.edu.tw/~yang">personal page</a></li>
        </td>
      </table>
    </div>
    <h1>Postdoctoral Research Fellows</h1>
    <!---->
    <div class="macUnit">
      <table>
        <td><img src="images/su.jpg" height="180" width="130"/></td>
        <td valign="top">
          <h3>&#34311;&#40654; Su&comma; Li</h3>
          <li>Phone&colon; 2787-2336</li>
          <!-- <li>Email: mcyeh[at]citi.sinica.edu.tw	</li>-->
          <li>Research Topic&colon; sparse representation for music information retrieval</li>
        </td>
      </table>
    </div>
    <h1>Research Assistants</h1>
    <div class="macUnit">
      <table>
        <td><img src="images/mike.jpg" height="180" width="130"/></td>
        <td valign="top">
          <h3>&#33865;&#26185;&#22025; Yeh&comma; Chin-Chia</h3>
          <li>Phone&colon; 2787-2361</li>
          <li>Email&colon; mcyeh&lsqb;at&rsqb;citi&period;sinica&period;edu&period;tw&Tab;</li>
        </td>
      </table>
    </div>
    <!---->
    <div class="macUnit">
      <table>
        <td><img src="images/spencer.jpg" height="180" width="130"/></td>
        <td valign="top">
          <h3>&#37159;&#28304;&#24950; Teng&comma; Yuan-Ching</h3>
          <li>Phone&colon; 2787-2361</li>
          <li>Email&colon; spencer&lsqb;at&rsqb;citi&period;sinica&period;edu&period;tw</li>
          <li>Research Topic&colon; Large-Scale Music Similarity Analysis</li>
        </td>
      </table>
    </div>
    <!---->
    <div class="macUnit">
      <table>
        <td><img src="images/liu.jpg" height="180" width="130"/></td>
        <td valign="top">
          <h3>&#21129;&#20219;&#29788; Liu&comma; Jen-Yu</h3>
          <li>Phone&colon; 2787-2361</li>
          <li>Email&colon; ciauaishere&lsqb;at&rsqb;citi&period;sinica&period;edu&period;tw</li>
        </td>
      </table>
    </div>
    <!---->
    <div class="macUnit">
      <table>
        <td><img src="images/pkjao.png" height="180" width="130"/></td>
        <td valign="top">
          <h3>&#39250;&#31177;&#32789; Jao&comma; Ping-Keng</h3>
          <li>Phone&colon; 2787-2374</li>
          <li>Email&colon; nafraw&lsqb;at&rsqb;citi&period;sinica&period;edu&period;tw</li>
        </td>
      </table>
    </div>
    <!---->
    <div class="macUnit">
      <table>
        <td><img src="images/szu-yu.jpg" height="180" width="130"/></td>
        <td valign="top">
          <h3>&#21608;&#24605;&#29788; Chou&comma; Szu-Yu</h3>
          <!-- <li>Phone: 2787-2374</li>-->
        </td>
      </table>
    </div>
    <div class="macUnit">
      <table>
        <td><img src="images/lfyu.jpg" height="180" width="130"/></td>
        <td valign="top">
          <h3> &#20110;&#31435;&#20961; Yu&comma; Li-Fan</h3>
          <!-- <li>Phone: 2787-2374</li>-->
        </td>
      </table>
    </div>
    <!---->
    <div class="macUnit">
      <table>
        <td><img src="images/Sean.png" height="180" width="130"/></td>
        <td valign="top">
          <h3> &#21129;&#26494;&#26191; Liu&comma; Sung-Yen</h3>
          <li>Email&colon; sean51623&lsqb;at&rsqb;citi&period;sinica&period;edu&period;tw</li>
        </td>
      </table>
      <!---->
    </div>
    <div class="macUnit">
      <table>
        <td><img src="images/default.png" height="180" width="130"/></td>
        <td valign="top">
          <h3> &#38515;&#24535;&#26126;</h3>
        </td>
        <!---->
      </table>
    </div>
    <div class="macUnit">
      <table>
        <td><img src="images/lai.png" height="180" width="130"/></td>
        <td valign="top">
          <h3> &#36084;&#26133;&#22948; Lai&comma; Hsin-Yu</h3>
        </td>
      </table>
    </div>
    <div>&NonBreakingSpace;</div>
    <h1>Alumni</h1><a href="http://about.me/hsinminglin" target="_blank">&#26519;&#27427;&#21517; Lin&comma; Hsin-Ming</a>&lpar;2013&comma; UCSD Ph&period;D&period; program&rpar;<br/>&#37101;&#33521;&#27193; Kuo&comma; Ying-Shu &lpar;2013&comma; Georgia Institute of Technology master program&rpar;<br/>&#21570;&#20210;&#21776; Lu&comma; Jung-Tang &lpar;2013&rpar;<br/>&#39759;&#25391;&#23431; Wei&comma; Chen-Yu &lpar;2012&comma; NTU master program&rpar;<br/>
  </div>
</div>