.container
  .content
    br
    div.well
      h3 &#26954;&#22869;&#36562; Yang&comma; Yi-Hsuan
        li Phone&colon; 2787-2388
        li Email&colon; yang&lsqb;at&rsqb;citi&period;sinica&period;edu&period;tw&Tab;
