.footer
    .left
      | &copy; 2011
      a(href='index.html') MAC Lab
    .right
      a(href='http://templates.arcsin.se/') Website template
      | by
      a(href='http://arcsin.se/') Arcsin
    .clearer &NonBreakingSpace;
