.header
  h1
    div.page-header
      font(color='brown') Music and Audio Computing Lab
body
  div.jumbotron
    font(color='brown') Music and Audio Computing Lab
    .content-separator
    |The Music and Audio Computing (MAC) Lab was founded in Sept. 2011 by Dr. Yi,Hsuan Yang.
    |The MAC Lab is dedicated to the development of multimedia systems that better understand
    | what we hear and perceive in sounds and apply this understanding to enhance our
    | interaction with sounds. Our goal is to carry out highly original and competitive
    |research at the international level and transfer the technology to impact the daily life.
    div &NonBreakingSpace;
    | Our current research interests include the follows:
    li sparse coding based music signal processing
    li melody transcription
    li source separation
    li music emotion recognition
    li context-aware music recommendation
    li multimedia systems for mobile devices
    li social media analysis and mining
    div &NonBreakingSpace;
    div &NonBreakingSpace;

  div.jumbotron
    font(color='brown') News
    .content-separator
    li We are organizing ISMIR 2014 at Taipei, Taiwan! (link)
    li We are organizing a special issue on Affective Analysis in Multimedia in IEEE Transactions on Affective Computing!
    li We are recruiting!
