.container
  .content
    br
    div.jumbotron
      font(color='brown') Recruitments
      li Full-time research assistants and postdocs
      li Research topic: audio signal processing, machine learning
      li Pay: according to NSC
      li Contact: Dr. Yi-Hsuan Yang (yang[at]citi.sinica.edu.tw)
