nav.navbar.navbar-fixed-top.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') MACLab
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav
            li
              a(href='#home') About
            li
              a(href='#people') People
            li
              a(href='#research') Research
            li
              a(href='#publication') Publication
            li
              a(href='#db') Database
            li
              a(href='#job') Jobs
            li
              a(href='#contact') Contact
        // /.navbar-collapse
      // /.container
