.container
  .content
    h1 Laboratory Director
    div.macUnit
      table
        td
          img(src='images/yang2.jpg', height='180', width='130')
        td(valign='top')
          h3 &#26954;&#22869;&#36562; Yang&comma; Yi-Hsuan
          li Phone&colon; 2787-2388
          li Email&colon; yang&lsqb;at&rsqb;citi&period;sinica&period;edu&period;tw&Tab;
          li
            | Interested Research&colon; Multimedia information retrieval&comma;Music information retrieval&comma;Machine learning&comma;Affective computing&period;
          li
            a(href='http://mac.citi.sinica.edu.tw/~yang') personal page
    h1 Postdoctoral Research Fellows
    //
    div.macUnit
      table
        td
          img(src='images/su.jpg', height='180', width='130')
        td(valign='top')
          h3 &#34311;&#40654; Su&comma; Li
          li Phone&colon; 2787-2336
          // <li>Email: mcyeh[at]citi.sinica.edu.tw </li>
          li Research Topic&colon; sparse representation for music information retrieval

    h1 Research Assistants
    div.macUnit
      table(ng-repeat="RA in RA_list")
        td
          img(ng-src='{{RA.photo}}', height='180', width='130')
        td(valign='top')
          h3 {{RA.name}}
          li {{RA.Phone}}
          li {{RA.Email}}

    h1 Alumni
    p(ng-repeat="alumni in alumni_list")
      {{alumni}}
