.container
  .content
    h1
      | Book
    .bs-callout.bs-callout-warning
      | Y.-H. Yang and H.-H. Chen,
      br
      b Music Emotion Recognition,
      br
      | CRC Taylor & Francis Books, Feb. 2011 (
      a(href='http://www.crcpress.com/product/isbn/9781439850466') link
      | )
    h1
      | Journal Papers
    .bs-callout.bs-callout-warning(ng-repeat="paper in journal_papers")
        {{paper.authors}},
        br
        b{{paper.title}}
        br
        {{paper.where}}
    h1
      | Conference Papers
    .bs-callout.bs-callout-warning(ng-repeat="paper in conf_papers")
        {{paper.authors}},
        br
        b{{paper.title}}
        br
        {{paper.where}}

    hr
    .bs-callout.bs-callout-danger
      b Copyright Notice:
      br
      | The documents on this page have been published by scholarly journals or conferences for the purpose of non-commercial dissemination of scientific work&period; These manuscripts are copyrighted by the authors and&sol;or the journals&sol;conferences in which they are published&period; You may copy a manuscript for scholarly&comma; non-commercial purposes&comma; provided that you agree with these terms&period;

