.container
  .content
    h1
      | Book
    ul.list-group
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Music Emotion Recognition
        | &comma;&quot;
        br
        | CRC Taylor &amp; Francis Books&comma; in press &lpar;to be published in Feb&period; 2011&rpar;
        br
        | &lpar;
        a(href='http://www.crcpress.com/product/isbn/9781439850466') link
        | &rpar;
        br
        br
      li.list-group-item.well
        | This book provides a comprehensive introduction of the research on modeling
        | human&apos;s emotion perception of music&comma; a research topic that emerges in the face of
        | the ever-increasing amount of digital music content&period; Automatic recognition of the
        | perceived emotion of music allows users to retrieve and organize their music
        | collections in an emotion-based fashion&comma; which is more content-centric than
        | conventional metadata-based methods&period; Building such a music emotion recognition
        | system&comma; however&comma; is challenging because of the subjective nature of emotion
        | perception&period; One needs to deal with issues such as the reliability of ground truth
        | data and the difficulty of evaluating the prediction result&comma; which do not exist in
        | other pattern recognition problems such as face recognition and speech recognition&period;
        | This book provides the detail of the methods that have been developed to address
        | these issues&period;
        br
    h1
      | Journal Papers
    ul.list-group
      li.list-group-item.well
        | C&period;-T&period; Lee&comma;
        b Y&period;-H&period; Yang
        | and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Multipitch Estimation of Piano Music by Exemplar-Based Sparse Representation
        | &comma;&quot;
        br
        | IEEE Transactions on Multimedia &lpar;
        b
          font(color='brown') TMM
        | &rpar;&comma;
        b
          font(color='green') accepted
        | &period;
        br
        | &lpar;paper&rpar;
        br
        br
      li.list-group-item.well
        | K&period;-S&period; Lin&comma; A&period; Lee&comma;
        b Y&period;-H&period; Yang
        | &comma; C&period;-T&period; Lee&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Emotion-based highlights extraction for drama video
        | &comma;&quot;
        br
        | Neurocomputing&comma;
        b
          font(color='green') accepted
        | &period;
        br
        | &lpar;paper&rpar;
        br
        br
      li.list-group-item.well
        | Y&period;-C&period; Lin&comma;
        b Y&period;-H&period; Yang
        | and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Exploiting online tags for music emotion classification
        | &comma;&quot;
        br
        | Special Issue on Social Media&comma;
        br
        | ACM Transactions on Multimedia Computing&comma; Communications&comma; and Applications &lpar;
        b
          font(color='brown') TOMCCAP
        | &rpar;&comma;
        b
          font(color='green') accepted
        | &period;
        br
        | &lpar;paper&rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Machine recognition of music emotion&colon; A review
        | &comma;&quot;
        br
        | ACM Transactions on Intelligent Systems and Technology &lpar;
        b
          font(color='brown') TIST
        | &rpar;&comma;
        b
          font(color='green') accepted
        | &period;
        br
        | &lpar;
        a(href='http://tist.acm.org/papers/TIST-2010-05-0111.R1.html') paper
        | &rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b
          | Prediction of the distribution of perceived music emotions using discrete samples
        | &comma;&quot;
        br
        | IEEE Transactions on Audio&comma; Speech and Language Processing &lpar;
        b
          font(color='brown') TASLP
        | &rpar;&comma;
        br
        | vol&period; 19&comma; no&period; 7&comma; pp&period; 2184-2196&comma; Sept&period; 2011&period;
        br
        | &lpar;
        a(href='http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=5719548') paper
        | &rpar; &lsqb;
        a(href='http://mac.iis.sinica.edu.tw/~yang/MER/NTUMIR-60') project page
        | &rsqb;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Ranking-based emotion recognition for music organization and retrieval
        | &comma;&quot;
        br
        | IEEE Transactions on Audio&comma; Speech and Language Processing &lpar;
        b
          font(color='brown') TASLP
        | &rpar;&comma;
        br
        | vol&period; 19&comma; no&period; 4&comma; pp&period; 762-774&comma; May 2011&period;
        br
        | &lpar;
        a(href='http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=5545401') paper
        | &rpar; &lsqb;
        a(href='MER/NTUMIR-1240') project page
        | &rsqb;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; W&period;-H&period; Hsu&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b
          | Online reranking via ordinal informative concepts for context fusion in concept detection and video search
        | &comma;&quot;
        br
        | IEEE Transactions on Circuits and Systems for Video Technology &lpar;
        b
          font(color='brown') TCSVT
        | &rpar;&comma;
        br
        | vol&period; 19&comma; no&period; 12&comma; pp&period; 1880-1890&comma; Dec&period; 2009&period;
        br
        | &lpar;
        a(href='pub/TCSVT09.pdf') paper
        | &rpar;
        br
        br
      li.list-group-item.well
        | Y&period;-F&period; Su&comma;
        b Y&period;-H&period; Yang
        | &comma; M&period;-T&period; Lu&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Smooth control of adaptive media playout for video streaming
        | &comma;&quot;
        br
        | IEEE Transactions on Multimedia &lpar;
        b
          font(color='brown') TMM
        | &rpar;&comma;
        br
        | vol&period; 11&comma; no&period; 7&comma; pp&period; 1331-1339&comma; Nov&period; 2009&period;
        br
        | &lpar;
        a(href='pub/TMM09.pdf') paper
        | &rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; Y&period;-C&period; Lin&comma; Y&period;-F&period; Su&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b A regression approach to music emotion recognition
        | &comma;&quot;
        br
        | IEEE Transactions on Audio&comma; Speech and Language Processing &lpar;
        b
          font(color='brown') TASLP
        | &rpar;&comma;
        br
        | vol&period; 16&comma; no&period; 2&comma; pp&period; 448-457&comma; Feb&period; 2008&period;
        br
        | &lpar;
        a(href='pub/TASLP08_abstract.pdf') abstract
        | &comma;
        a(href='pub/TASLP08.pdf') paper
        | &comma;
        a(href='pub/taslp08.ppt.pdf') slides
        | &rpar;
        | &lsqb;
        a(href='MER/taslp08') project page
        | &comma; include dataset&rsqb; &lpar;cited by 50&rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Searching music in the emotion plane
        | &comma;&quot;
        br
        | IEEE MMTC E-Letter&comma; November issue&comma; 2009&comma; invited paper&period;
        br
        | &lpar;
        a(href='pub/MMTC09.pdf') paper
        | &rpar;
        br
        br
    h1
      | Conference Papers
    h3 2012
    ul.list-group
      li.list-group-item.well
        | J&period;-Y&period; Liu&comma; C&period;-C&period; Yeh&comma; Y&period;-C&period; Teng&comma; and Y&period;-H&period; Yang&comma;
        b &OpenCurlyDoubleQuote;Bilingual analysis of song lyrics and audio words
        | &comma;&rdquor;
        br
        | Proc&period; ACM Int&period; Conf&period; Multimedia &lpar;
        b
          font(color='brown') SIGMM
          b
            | &rpar;&comma; short paper&comma; 2012&period;
            br
            br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | and X&period; Hu
        br
        | &quot;
        b
          | Cross-cultural music mood classification&colon; A comparison of English and Chinese songs
        | &comma;&quot;
        br
        | in Proc&period; Int&period; Society of Music Information Retrieval 2012 &lpar;
        b
          font(color='brown') ISMIR&apos;12
        | &rpar;&period;
        br
        | &lpar;paper&rpar;
        br
        br
      li.list-group-item.well
        | C&period;-C&period; Yeh and Y&period;-H&period; Yang&comma;
        br
        | &quot;
        b Supervised dictionary learning for music genre classification
        | &comma;&quot;
        br
        | in Proc&period; ACM International Conference on Multimedia Retrieval 2012 &lpar;
        b
          font(color='brown') ICMR&apos;12
        | &rpar;&comma;
        b
          font(color='green') accepted
        | &period;
        br
        | &lpar;paper&rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; D&period; Bogdanov&comma; P&period; Herrera&comma; and M&period; Sordo&comma;
        br
        | &quot;
        b Music retagging using label propagation and robust principal component analysis
        | &comma;&quot;
        br
        | in Int&period; Workshop on Advances in Music Information Research &lpar;AdMIRe&rpar;&comma; in conjunction with Int&period; World Wide Web Conference &lpar;WWW&rpar;&comma;
        b
          font(color='green') accepted
        | &period;
        br
        | &lpar;paper&rpar;
        br
        br
    h3 2011
    ul.list-group
      li.list-group-item.well
        | Y&period;-H&period; Kuo&comma; H&period;-T&period; Lin&comma; W&period;-H&period; Cheng&comma;
        b Y&period;-H&period; Yang
        | &comma; and W&period;-H&period; Hsu&comma;
        br
        | &quot;
        b
          | Unsupervised auxiliary visual words discovery for large-scale image object retrieval
        | &comma;&quot;
        br
        | in Proc&period; ACM Int&period; Conf&period; Computer Vision and Pattern Recognition 2011 &lpar;
        b
          font(color='brown') CVPR&apos;11
        | &rpar;&comma;
        b
          font(color='green') accepted
        | &period;
        br
        | &lpar;paper&rpar;
        br
        br
      li.list-group-item.well
        | K&period;-S&period; Lin&comma; A&period; Lee&comma;
        b Y&period;-H&period; Yang
        | &comma; C&period;-D&period; Lee&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b
          | Automatic highlights extraction for drama video using music emotion and human face features
        | &comma;&quot;
        br
        | in Proc&period; IEEE Int&period; Workshop on Multimedia Signal Processing 2011 &lpar;
        b
          font(color='brown') MMSP&apos;11
        | &rpar;&comma;
        b
          font(color='green') accepted
        | &period;
        br
        | &lpar;paper&rpar;
        br
      li.list-group-item.well
        | C&period;-D&period; Lee&comma;
        b Y&period;-H&period; Yang
        | &comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b
          | Automatic transcription of piano music by sparse representa- tion of magnitude spectra
        | &comma;&quot;
        br
        | in Proc&period; IEEE Int&period; Conf&period; Multimedia and Expo&period; 2011 &lpar;
        b
          font(color='brown') ICME&apos;11
        | &rpar;&comma;
        b
          font(color='green') accepted
        | &period;
        br
        | &lpar;paper&rpar; &lsqb;
        a(href='http://mpac.ee.ntu.edu.tw/~ader888/transcription/') project page
        | &rsqb;
        br
      br
    h3 2010
    ul.list-group
      li.list-group-item.well
        | Y&period;-H&period; Kuo&comma; Y&period;-L&period; Wu&comma; K&period;-T&period; Chen&comma;
        b Y&period;-H&period; Yang
        | &comma; T&period;-H&period; Chiu&comma; and W&period;-H&period; Hsu&comma;
        br
        | &quot;
        b
          | A technical demonstration of large-scale image object retrieval by efficient query evaluation and effective auxiliary visual feature discovery
        | &comma;&quot;
        br
        | in Proc&period; ACM Int&period; Conf&period; Multimedia 2010 &lpar;
        b
          font(color='brown') MM&apos;10
        | &rpar;&comma; technical demonstration&period;
        br
        | &lpar;paper&rpar;
        br
      br
    h3 2009
    ul.list-group
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; Y&period;-C&period; Lin&comma; A&period; Lee&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Improving musical concept detection by ordinal regression and context fusion
        | &comma;&quot;
        br
        | in Proc&period; Int&period; Society of Music Information Retrieval 2009 &lpar;
        b
          font(color='brown') ISMIR&apos;09
        | &rpar;&comma; Kobe&comma; Japan&comma; pp&period; 147-152&period;
        br
        | &lpar;
        a(href='pub/ISMIR09_tag.pdf') paper
        | &comma;
        a(href='pub/ISMIR09_tag.txt') abstract
        | &comma;
        a(href='pub/ISMIR09_tag_poster.pdf') poster
        | &rpar;
        br
        br
      li.list-group-item.well
        | M&period;-Y&period; Su&comma;
        b Y&period;-H&period; Yang
        | &comma; Y&period;-C&period; Lin&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b An integrated approach to music boundary detection
        | &comma;&quot;
        br
        | in Proc&period; Int&period; Society of Music Information Retrieval 2009 &lpar;
        b
          font(color='brown') ISMIR&apos;09
        | &rpar;&comma; Kobe&comma; Japan&comma; pp&period; 705-710&period;
        br
        | &lpar;
        a(href='pub/ISMIR09_segmentation.pdf') paper
        | &comma;
        a(href='pub/ISMIR09_segmentation.txt') abstract
        | &comma;
        a(href='pub/ISMIR09_segm_poster.pdf') poster
        | &rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; Y&period;-C&period; Lin&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Personalized music emotion recognition
        | &comma;&quot;
        br
        | in Proc&period; ACM Int&period; Conf&period; Information Retrieval 2009 &lpar;
        b
          font(color='brown') SIGIR&apos;09
        | &rpar;&comma; Boston&comma; USA&comma; short paper&comma; pp&period; 748-749&period;
        br
        | &lpar;
        a(href='pub/SIGIR09.pdf') paper
        | &rpar;
        br
        br
      li.list-group-item.well
        | L&period;-C&period; Hsieh&comma; K&period;-T&period; Chen&comma;
        b Y&period;-H&period; Yang
        | &comma; and G&period;-L&period; Wu&comma;
        br
        | &quot;
        b
          | Canonical image selection and efficient image graph construction for large-scale Flickr photos
        | &comma;&quot;
        br
        | Grand Challenge for ACM Multimedia 2009 &lpar;
        b
          font(color='brown') MM&apos;09
        | &rpar;&period;
        br
        | &lpar;
        a(href='pub/MMGC09.pdf') paper
        | &rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b iMR&colon; Interactive music recommendation via active interactive genetic algorithm
        | &comma;&quot;
        br
        | in Proc&period; Int&period; Workshop on Computer Music and Audio Technology 2009 &lpar;
        b
          font(color='brown') WOCMAT&apos;09
        | &rpar;&comma; Taipei&comma; Taiwan&period;
        br
        | &lpar;
        a(href='pub/WOCMAT09.pdf') paper
        | &rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Music emotion ranking
        | &comma;&quot;
        br
        | in Proc&period; IEEE Int&period; Conf&period; Acoustics&comma; Speech&comma; and Signal Processing 2009 &lpar;
        b
          font(color='brown') ICASSP&apos;09
        | &rpar;&comma; Taipei&comma; Taiwan&comma; pp&period; 1657-1660&period;
        br
        | &lpar;
        a(href='pub/ICASSP09.pdf') paper
        | &comma;
        a(href='pub/ICASSP09.txt') abstract
        | &rpar;
        | &lsqb;project page&comma; include dataset&rsqb;
        br
        br
      li.list-group-item.well
        | Y&period;-C&period; Lin&comma;
        b Y&period;-H&period; Yang
        | &comma; H&period;-H&period; Chen&comma; I-Bin Liao&comma; and Yeh-Chin Ho
        br
        | &quot;
        b Exploiting genre for music emotion classification
        | &comma;&quot;
        br
        | in Proc&period; IEEE Int&period; Conf&period; Multimedia and Expo&period; 2009 &lpar;
        b
          font(color='brown') ICME&apos;09
        | &rpar;&comma; New York&comma; USA&comma; pp&period; 618-621&period;
        br
        | &lpar;
        a(href='pub/ICME09_genre.pdf') paper
        | &rpar;
        | &lsqb;
        a(href='http://mpac.ee.ntu.edu.tw/~vagante/genreEmo') project page
        | &comma; include dataset&rsqb;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; Y&period;-C&period; Lin&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Clustering for music search results
        | &comma;&quot;
        br
        | in Proc&period; IEEE Int&period; Conf&period; Multimedia and Expo&period; 2009 &lpar;
        b
          font(color='brown') ICME&apos;09
        | &rpar;&comma; New York&comma; USA&comma; pp&period; 874-877&period;
        br
        | &lpar;
        a(href='pub/ICME09_clustering.pdf') paper
        | &rpar;
        br
        br
      li.list-group-item.well
        | H&period;-T&period; Cheng&comma;
        b Y&period;-H&period; Yang
        | &comma; Y&period;-C&period; Lin&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b
          | Multimodal structure segmentation and analysis of music using audio and textual information
        | &comma;&quot;
        br
        | in Proc&period; IEEE Int&period; Symp&period; Circuits and Systems 2009 &lpar;
        b
          font(color='brown') ISCAS&apos;09
        | &rpar;&comma; Taipei&comma; Taiwan&comma; pp&period; 1677-1680&period;
        br
        | &lpar;
        a(href='pub/ISCAS09.pdf') paper
        | &rpar;
        | &lsqb;
        a(href='http://sites.google.com/site/hengtzecheng/projects/iscas09') project page
        | &comma; include dataset&rsqb;
        br
        br
    h3 2008
    ul.list-group
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; P&period;-T&period; Wu&comma; C&period;-W&period; Lee&comma; K&period;-H&period; Lin&comma; W&period;-H&period; Hsu&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b
          | ContextSeer&colon; Context search and recommendation at query time for shared consumer photos
        | &comma;&quot;
        br
        | in Proc&period; ACM Multimedia 2008 &lpar;
        b
          font(color='brown') MM&apos;08
        | &rpar; &lpar;oral&comma; content track&comma; accept rate&equals;
        b
          font(color='green') 21&percnt;
        | &rpar;&comma; pp&period; 199-208&period;
        br
        | &lpar;
        a(href='pub/MM08_rrk.pdf') paper
        | &comma;
        a(href='pub/MM08_rrk.ppt.pdf') slides
        | &rpar;
        | &lsqb;
        a(href='reranking') project page
        | &comma; include dataset&rsqb;
        br
        br
      li.list-group-item.well
        | P&period;-T&period; Wu&comma;
        b Y&period;-H&period; Yang
        | &comma; K&period;-T&period; Chen&comma; W&period;-H&period; Hsu&comma; T&period;-H&period; Li&comma; and C&period;-J&period; Lee&comma;
        br
        | &quot;
        b Keyword-based concept search on consumer photos by web-based kernel function
        | &comma;&quot;
        br
        | in Proc&period; ACM Multimedia 2008 &lpar;
        b
          font(color='brown') MM&apos;08
        | &rpar; &lpar;poster&comma; content track&rpar;&comma; pp&period; 651-654&period;
        br
        | &lpar;
        a(href='pub/MM08_cpt.pdf') paper
        | &rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; Y&period;-C&period; Lin&comma; H&period;-T&period; Cheng&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Mr&period;Emo&colon; Music retrieval in the emotion plane
        | &comma;&quot;
        br
        | in Proc&period; ACM Multimedia 2008 &lpar;
        b
          font(color='brown') MM&apos;08
        | &rpar; &lpar;demonstration&rpar;&comma; pp&period; 1003-1004&period;
        br
        | &lpar;
        a(href='pub/MM08_MrEmo.pdf') paper
        | &comma;
        a(href='http://www.youtube.com/watch?v=ra55xO20UHU') demo
        | &rpar;
        br
        br
      li.list-group-item.well
        | T&period;-L&period; Wu et al&comma;
        br
        | &quot;
        b
          | Interactive content presenter based on expressed emotion and physiological feedback
        | &comma;&quot;
        br
        | in Proc&period; ACM Multimedia 2008 &lpar;
        b
          font(color='brown') MM&apos;08
        | &rpar; &lpar;demonstration&rpar;&comma; pp&period; 1009-1010&period;
        br
        | &lpar;
        a(href='pub/MM08_int.pdf') paper
        | &comma; demo&rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; Y&period;-C&period; Lin&comma; H&period;-T&period; Cheng&comma; I&period;-B&period; Liao&comma; Yeh-Chin Ho&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Toward multi-modal music emotion classification
        | &comma;&quot;
        br
        | in Proc&period; Pacific-Rim Conf&period; Multimedia 2008 &lpar;
        b
          font(color='brown') PCM&apos;08
        | &rpar;&comma; pp&period; 70-79&period;
        br
        | &lpar;
        a(href='pub/PCM08.pdf') paper
        | &comma;
        a(href='pub/PCM08.ppt.pdf') slides
        | &rpar;
        br
        br
      li.list-group-item.well
        | H&period;-T&period; Cheng&comma;
        b Y&period;-H&period; Yang
        | &comma; Y&period;-C&period; Lin&comma; I&period;-B&period; Liao&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Automatic chord recognition for music classification and retrieval
        | &comma;&quot;
        br
        | in Proc&period; IEEE Int&period; Conf&period; Multimedia and Expo&period; 2008 &lpar;
        b
          font(color='brown') ICME&apos;08
        | &rpar;&comma;  Hannover&comma; Germany&comma; pp&period; 1505-1508&period;
        br
        | &lpar;
        a(href='pub/ICME08_chord.pdf') paper
        | &rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | and W&period;-H&period; Hsu&comma;
        br
        | &quot;
        b Video search reranking via online ordinal reranking
        | &comma;&quot;
        br
        | in Proc&period; IEEE Int&period; Conf&period; Multimedia and Expo&period; 2008 &lpar;
        b
          font(color='brown') ICME&apos;08
        | &rpar;&comma; Hannover&comma; Germany&period;
        br
        | &lpar;
        a(href='pub/ICME08_rrk.pdf') paper
        | &rpar;
        br
        br
    h3 2007
    ul.list-group
      li.list-group-item.well
        | M&period;-F&period; Weng&comma; C&period;-K&period; Chen&comma;
        b Y&period;-H&period; Yang
        | &comma; R&period;-E&period; Fan&comma; Y&period;-T&period; Hsieh&comma; Y&period;-Y&period; Chunag&comma; W&period;-H&period; Hsu&comma; and C&period;-J&period; Lin&comma;
        br
        | &quot;
        b The NTU toolkit and framework for high-level feature detection at TRECVID 2007
        | &quot;&comma;
        br
        | in NIST TRECVID Workshop 2007 &lpar;
        b
          font(color='brown') TRECVID&apos;07
        | &rpar;&period;
        br
        | &lpar;
        a(href='http://www-nlpir.nist.gov/projects/tvpubs/tv7.papers/ntu.pdf') paper
        | &comma;
        a(href='http://www-nlpir.nist.gov/projects/tvpubs/tv7.slides/ntu.tv07.slides.pdf') slides
        | &comma;
        a(href='http://www-nlpir.nist.gov/projects/tvpubs/tv.pubs.org.html') tv07 website
        | &rpar;
        br
        br
      li.list-group-item.well
        | C&period;-C&period; Ma&comma;
        b Y&period;-H&period; Yang
        | &comma; and W&period; Hsu&comma;
        br
        | &quot;
        b Image thumbnailing via multi-view face detection and saliency analysis
        | &quot;&comma;
        | in Proc&period; Conf&period; Visual Information Processing &lpar;
        b
          font(color='brown') VIP&apos;07
        | &rpar;&period;
        br
        | &lpar;
        a(href='pub/VIP07.pdf') paper
        | &rpar;
        | &lsqb;
        a(href='http://www.csie.ntu.edu.tw/~r95007/imthumb/') project page
        | &comma; include dataset&rsqb;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; Y&period;-F&period; Su&comma; Y&period;-C&period; Lin&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Music emotion recognition&colon; The role of individuality
        | &comma;&quot;
        br
        | in Proc&period; ACM SIGMM Int&period; Workshop on Human-centered Multimedia 2007&comma; in conjunction with ACM Multimedia &lpar;
        b
          font(color='brown') ACM MM&sol;HCM&apos;07
        | &rpar;&comma; Augsburg&comma; Germany&comma; pp&period; 13-21&period;
        br
        | &lpar;
        a(href='pub/HCM07_abstract.pdf') abstract
        | &comma;
        a(href='pub/HCM07.pdf') paper
        | &comma;
        a(href='hcm07/hcm07_yang.ppt') slides
        | &rpar;
        font(size='3')
          | &lsqb;
          a(href='MER/hcm07/index.html') project page
          | &lpar;include dataset and the software
          font(color='blue') &apos;AnnoEmo&apos;
          | &rpar;&rsqb;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; Y&period;-C&period; Lin&comma; Y&period;-F&period; Su&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Music emotion classification&colon; A regression approach
        | &comma;&quot;
        br
        | in Proc&period; IEEE Int&period; Conf&period; Multimedia and Expo&period; 2007 &lpar;
        b
          font(color='brown') ICME&apos;07
        | &rpar;&comma; Bejing&comma; China&comma; pp&period; 208-211&period;
        br
        | &lpar;
        a(href='pub/ICME07_abstract.pdf') abstract
        | &comma;
        a(href='pub/ICME07.pdf') paper
        | &comma;
        a(href='icme07/ICME07_poster.ppt') poster
        | &rpar;
        font(size='3')
          | &lsqb;
          a(href='MER/icme07/index.html') project page
          | &lpar;include dataset&rpar;&rsqb;
        br
        br
    h3 2006
    ul.list-group
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; C&period;-C Liu&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Music emotion classification&colon; A fuzzy approach
        | &comma;&quot;
        br
        | in Proc&period; ACM Multimedia 2006 &lpar;
        b
          font(color='brown') ACM MM&apos;06
        | &rpar;&comma; Santa Barbara&comma; CA&comma; USA&comma; pp&period; 81-84&period; &lpar;short paper&rpar;&lpar;with travel grant&rpar;
        br
        | &lpar;
        a(href='pub/ACMMM06_abstract.pdf') abstract
        | &comma;
        a(href='pub/ACMMM06.pdf') paper
        | &rpar;
        font(size='3')
          | &lsqb;
          a(href='MER/mm06/index.html') project page
          | &rsqb;
        br
        br
      li.list-group-item.well
        | C&period;-C Liu&comma;
        b Y&period;-H&period; Yang
        | &comma; P&period;-H&period; Wu&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Detecting and classifying emotion in popular music
        | &comma;&quot;
        br
        | in Proc&period; 9th Joint Int&period; Conf&period; Information Sciences &sol; 7th Int&period; Conf&period; Computer Vision&comma; Pattern Recognition and Image Processing 2006 &lpar;
        b
          font(color='brown') JCIS&sol;CVPRIP&apos;06
        | &rpar;&comma; Kaohsiung&comma; Taiwan&comma; pp&period; 996-999&period;
        br
        | &lpar;
        a(href='pub/JCIS06_abstract.pdf') abstract
        | &comma;
        a(href='pub/JCIS06.pdf') paper
        | &rpar;
        br
        br
      li.list-group-item.well
        b Y&period;-H&period; Yang
        | &comma; M&period;-T Lu&comma; and H&period;-H&period; Chen&comma;
        br
        | &quot;
        b Smooth playout control for video streaming over error-prone channels
        | &comma;&quot;
        br
        | in Proc&period; IEEE  Int&period; Symp&period; Multimedia 2006 &lpar;
        b
          font(color='brown') ISM&apos;06
        | &rpar;&comma; San Diego&comma; CA&comma; USA&comma; pp&period; 415-418&period;
        br
        | &lpar;
        a(href='pub/ISM06_abstract.pdf') abstract
        | &comma;
        a(href='pub/ISM06.pdf') paper
        | &rpar;
        br
        br
        br
    hr
    div.well
      b Copyright Notice&colon;
      br
      | The documents on this page have been published by scholarly journals or conferences for the purpose of non-commercial dissemination of scientific work&period; These manuscripts are copyrighted by the authors and&sol;or the journals&sol;conferences in which they are published&period; You may copy a manuscript for scholarly&comma; non-commercial purposes&comma; provided that you agree with these terms&period;

